<?xml version="1.0"?>
<hivemq>
    <listeners>
        <tcp-listener>
            <port>1883</port>
            <bind-address>0.0.0.0</bind-address>
        </tcp-listener>
        <tls-tcp-listener>
            <port>8883</port>
            <bind-address>0.0.0.0</bind-address>
            <tls>
                <keystore>
                    <path>/opt/hivemq/conf/certs/server.crt</path>
                    <password>password</password> 
                    <private-key-path>/opt/hivemq/conf/certs/server.key</private-key-path>
                </keystore>
            </tls>
        </tls-tcp-listener>
    </listeners>

    <access-control>
        <mqtt-authentication>
            <file-rbac></file-rbac>
        </mqtt-authentication>
    </access-control>
</hivemq>
